.current-time-overlay {
    position: fixed;
    top: 8.5vh;
    left: 1rem;
    z-index: 200;
    text-align: left;
    font-size: 1.75rem;
    color: #b0b0b0;
}

.current-time-overlay.is-phone {
    font-size: 0.7rem;
    top: 6vh;
}

.match-name-title {
    display: block;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0.25rem;
}

.match-name-title.is-phone {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}
.match-name-title.multiplayer {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

.match-created-title {
    text-align: center;
    font-size: 1rem;
    margin-top: 0;
    color: lightslategray;
    font-style: italic;
}

.match-created-title.is-phone {
    margin: 0;
    padding: 0;
    font-size: 0.6rem;
}

.round-display-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 8rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #222;
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.round-display-container.is-phone {
    width: 3rem;
    height: 3rem;
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 5px;
}
.round-display-container.multiplayer {
    width: 5rem;
    height: 5rem;
    top: 1rem;
    right: 1em;
    border-radius: 5px;
}

.round-display-label {
    font-size: 1.125rem;
    color: #b0b0b0;
    margin-top: 0.625rem;
    letter-spacing: 0.05em;
}

.round-display-label.is-phone {
    font-size: 0.5rem;
    margin-top: 0.25rem;
}
.round-display-label.multiplayer {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.round-display-value {
    font-size: 3.75rem;
    font-weight: bold;
    line-height: 1;
    margin-top: 0.625rem;
}

.round-display-value.is-phone {
    font-size: 1.5rem;
    margin-top: 0.15rem;
}
.round-display-value.multiplayer {
    font-size: 2.5rem;
    margin-top: 0.4rem;
}

.players-wrapper {
    margin-top: 0.7rem;
}

.players-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 0 25%; 
    gap: 1rem;
    width: 100%;
}

.players-container.is-phone {
    gap: 0rem;
}

.player-card {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1rem 0;
    gap: 0.2rem;
}

.player-card.is-phone {
    padding: 0;
    gap: 0.1rem;
}

.player-card.multiplayer {
    padding: 0;
    gap: 0.1rem;
}

.player-name-label {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
      white-space: nowrap;
      padding: 0rem 0.1rem 0rem 0.1rem ;
}

.player-name-label.is-phone {
    font-size: medium;
}
.player-name-label.multiplayer {
    font-size: large;
}

.player-faction-label {
    color: #b0b0b0;
    font-size: 1rem;
  white-space: nowrap;
    align-items: center;
    text-align: center;
    font-style: italic;
}

.player-faction-label.is-phone {
    font-size: 0.65rem;
    max-width: 12ch;        /* ca. 12 Zeichen */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-faction-label.multiplayer {
    font-size: 0.65rem;
    max-width: 12ch;        /* ca. 12 Zeichen */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-stats-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 4px;
    width: 90%;
    
}

.player-stats-wrapper.is-phone {
    gap: 1rem;
    margin-top: 2px;
}

.player-wrapper2 {
    display: flex;
    background-color: #444;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 5px;
}

.player-wrapper2.is-phone {
}

.player-container2 {
    flex: 1 1 1%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}

.player-label2 {
    color: #b0b0b0;
}

.player-label2.is-phone {
    font-size: 0.6rem;
    z-index: 200;
}

.player-value2 {
    color: rgb(6, 115, 232);
    font-size: 11vh;
}

.player-value2.multiplayer {
    font-size: 5vh;
}

.player-button2 {
    flex: 1 1 1%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1%;
    height: 100%;
    color: #c8ff00;
    font-size: 9vh;
    cursor: pointer;
    border: 0;
    background-color: #333;
    border-radius: 8px;
}
.player-button2.multiplayer {
    font-size: 4vh;
}   

//################################################



.match-footer-wrapper {
    margin-top: auto;
    width: 100%;
    position: fixed;
    font-size: 0.9em;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.05);
}

.match-footer-wrapper.is-phone {
    font-size: 0.5em;
}

.match-footer-detail-label {
    display: inline;
}

.match-footer-label {
    display: inline;
    padding-left: 5px;
}

.match-footer-value {
    color: lightgray;
    display: inline;
}

.match-footer-value {
    display: inline;
    margin-right: 0.2rem;
}

.match-reset-button {
    background-color: #333;
    color: oklch(86.267% 0.23186 140.858);
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
}

.match-reset-button.is-phone {
    bottom: 0.3rem;
    right: 0.3rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.5rem;
    border-radius: 4px;
}